= form_with model: @item, url: items_search_path, method: :get, local: true do |form|
  = form.select :keyword, [ ['投稿が新しい順', 'new'],
                            ['投稿が古い順', 'old'],
                            ['価格が安い順', 'price'],
                            ['期限が近い順', 'limit'],
                          ]
  = form.submit