$jimo-bg: rgba(0, 0, 0, 0.7);
.user-form-wrapper {
    padding-top: 7vh;
    height: 120vh;
    background-image: image-url("jimo_form_bg.png");
    overflow: scroll;
    background-size: cover;
    background-position: center;
}

.form-title {
    margin: 0 auto;
}

.must-form {
    padding: 10px;
    border: 1px solid red;
}

.either-form {
    padding: 10px;
    border: 1px solid blue;
}

.user-form {
    padding: 30px;
    max-width: 500px;
    margin: 20px auto;
    background-color: $jimo-bg;
}

#user-prefecture {
    min-width: 20vw;
}

.user-info-card {
    width: 30em;
    margin: 0 auto;
    margin-top: 5em;
}