#top-wrapper {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-image: image-url("top.png");
}

#info-wrapper {
    width: 100vw;
    height: 100vh;
}