$jimo-bg: rgba(0, 0, 0, 0.7);
.top-wrapper {
    padding-top: 7vh;
    height: 80vh;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    position: relative;
}

.main-title {
    font-family: "Comic Sans MS";
    color: white;
    font-size: 10vw;
}

.main-subtitle {
    color: white;
    background-color: $jimo-bg;
}

.title-position {
    position: absolute;
}

.top-card {
    width: 40em;
    padding: 1em;
    margin: 1em;
}

.info-wrapper {
    padding: 1em;
    height: 100vh;
    overflow: scroll;
    background-position: center;
    background-image: image-url("jimo_form_bg.png");
}

.info-second-wrapper {
    padding: 1em;
    height: 100vh;
    overflow: scroll;
    background-position: center;
    background-image: image-url("item-bg-2.png");
}

.inquiry {
    margin-top: 2em;
    padding: 2em;
    background-color: $jimo-bg;
}