.top-wrapper {
    padding-top: 7vh;
    height: 60vh;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-image: asset_url("top.png");
}

.main-title {
    font-family: "Comic Sans MS";
    font-size: 5em;
}

.main-subtitle {
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
}

.top-card {
    width: 40em;
    padding: 1em;
    margin: 1em;
}

.info-wrapper {
    padding: 1em;
    height: 120vh;
    overflow: scroll;
    background-position: center;
    background-image: asset_url("jimo_form_bg.png");
}