// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$jimo-bg: rgba(0, 0, 0, 0.7);
.item-form-wrapper {
    padding-top: 7vh;
    height: 120vh;
    background-size: cover;
    background-position: center;
    background-image: image-url("item-bg.png");
    overflow: scroll;
}

.stock-form-wrapper {
    padding-top: 7vh;
    height: 120vh;
    background-image: image-url("stock_bg.png");
    overflow: scroll;
    background-size: cover;
    background-position: center;
}

.stock-form {
    padding: 30px;
    max-width: 500px;
    background-color: $jimo-bg;
}

.urgent-form {
    padding: 30px;
    width: 20em;
    margin: 20px auto;
    background-color: $jimo-bg;
}

.item-form {
    padding: 30px;
    max-width: 500px;
    margin: 3.5em auto;
    background-color: $jimo-bg;
}

#image-list {
    width: 10em;
}

.form-control {
    height: 2em;
}

.item-index {
    margin-top: 2em;
    display: flex;
    flex-flow: row wrap;
}

.item-aside-menu {
    padding: 1em;
    margin-top: 2em;
}

.item-info-card {
    font-size: 0.8em;
    margin: 1em;
    padding: 0.5em;
    width: 17em;
}

.item-show-card {
    padding: 0.5em;
    margin: 1em;
    width: 30em;
}

.index-image {
    width: 15em;
}

.yen-icon {
    margin-right: 0.2em;
}

.card-description {
    word-break: break-all;
}

.item-card-title {
    word-break: break-all;
}

#deadline {
    width: 60%;
}

#limit {
    width: 80%;
}

#quantity {
    width: 30%;
}

#keyword {
    height: 2.3em;
    width: 8em;
}

.card-tag {
    margin-left: 10px;
}

.item-test {
    position: relative;
    z-index: 20;
    top: 3em;
    left: 3em;
}

.comment-card {
    width: 20em;
    margin: 0.4em;
    padding: 0.4em;
}

.comment-index {
    display: flex;
    flex-flow: row wrap;
}

.comment-form {
    width: 30em;
    line-height: 3em;
}

.no-date {
    margin-top: 5em;
}