// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.item-form-wrapper {
    padding-top: 7vh;
    height: 120vh;
    background-image: asset_url("item-bg.png");
    overflow: scroll;
}

.item-form {
    padding: 30px;
    max-width: 500px;
    margin: 20px auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.item-info-card {
    margin: 1em;
    padding: 0.5em;
    width: 30em;
}

#deadline {
    width: 60%;
}

#quantity {
    width: 30%;
}

.item-info-card {}

.card-tag {
    margin-left: 10px;
}