// Place all the styles related to the tickets controller here.
// They will automatically be included in application.css.
//   You can use Sass (SCSS) here: https://sass-lang.com/
.ticket-form-wrapper {
    padding-top: 7vh;
    height: 120vh;
    background-image: image-url("ticket-bg.png");
    overflow: scroll;
    background-size: cover;
    background-position: center;
}

.ticket-index {
    margin-top: 2.5em;
    display: flex;
    flex-flow: row wrap;
}